<%= form_with(model: group) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', data: { qa_selector: 'name_field' } %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "What is this group about?", data: { qa_selector: 'description_field' } %>

  <%= f.submit button_name, class: "btn btn-primary", data: { qa_selector: 'submit_form_button' } %>
<% end %>
