<li data-qa-selector='user_content'>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  | <%= user.email %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
  turbo_confirm: "You sure?", qa_selector: 'delete_user_link' } %>
  <% end %>
</li>
