<%= form_with(model: @personal_access_token) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', data: { qa_selector: 'name_field' } %>

  <%= f.submit 'Generate', class: 'btn btn-primary', data: { qa_selector: 'generate_button' } %>
<% end %>
