<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GitLab Junior", root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu"
          class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, data: { qa_selector: 'users_link' } %></li>
          <li class="dropdown" data-qa-selector="account_menu_dropdown">
            <a href="#" id="account" class="dropdown-toggle" data-qa-selector="account_dropdown_link">
              Account <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu">
              <li><%= link_to current_user.name, current_user, data: { qa_selector: 'user_profile_link' }  %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Tokens", personal_access_tokens_path, data: { qa_selector: 'tokens_link' } %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path,
                  data: { "turbo-method": :delete, qa_selector: 'log_out_link' } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, data: { qa_selector: 'log_in_link' } %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
